{% extends 'dashboard/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}

<div class="container text-center">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <legend class='border-bottom mb-4'></legend>
            {{form|crispy}}
            <button class="btn btn-outline-info" type="submit">
                Select
            </button>
        </div>

       {% comment %} {% if input %} {% endcomment %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
            <div class="row">
                <div class="col-md-4">
                    {{m_form.input}}
                </div>

                <div class="col-md-4">
                    {{m_form.measure1 }} 
                </div>
                {% comment %} as_crispy_field {% endcomment %}

                <div class="col-md-4">
                    {{m_form.measure2 }}
                </div>
            </div>
            
        </fieldset>
        <fieldset class="form-group">
            {{answer}}
        </fieldset>
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Convert
            </button>
        </div>
        {% comment %} {% endif %} {% endcomment %}
    
    </form>
</div>

{% endblock content %}